* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Lato", sans-serif;
}

body {
    background-color: #000;
    color: #eee;
    font-size: 12px;
}

header {
    width: 80%;
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
    margin: auto;
}

header a {
    color: #eee;
    font-weight: 300;
    margin-right: 50px;
}

.container {
    width: 100vw;
    height: 100vh;
    margin-top: -60px;
}