* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Lato", sans-serif;
}

body {
    background-color: #000;
    color: #eee;
    font-size: 12px;
}

header {
    width: 80%;
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
    margin: auto;
}

header a {
    color: #eee;
    font-size: 1.2em;
    font-weight: 500;
    text-shadow: 0 8px 10px #001;
    margin-right: 50px;
}

header a:hover {
    color: rgb(26, 229, 240);
    transition: 0.5s;
}

.container {
    width: 100vw;
    height: 100vh;
    margin-top: -60px;
    overflow: hidden;
}

.list .list-item {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

.list .list-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
}

.list .list-item .content {
    position: absolute;
    top: 50%;
    right: 10%;
    padding-right: 30%;
    width: 80%;
    color: #eee;
    text-shadow: 0 5px 10px #0004;
}

.list .list-item .content .title {
    font-size: 5em;
    font-weight: 700;
    line-height: 1.3em;
    margin-bottom: 20px;
}

.list .list-item .content .description {
    font-size: 1.3em;
}

.list .list-item .content .buttons {
    display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: 40px;
    margin-top: 30px;
    gap: 10px;
}

.list .list-item .content .buttons button {
    border: none;
    border-radius: 25px;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
}

.list .list-item .content .buttons button:hover {
    background-color: transparent;
    border: 1px solid #eee;
    color: #eee;
    transition: 0.5s;
}

.list .list-item .content .buttons button:nth-child(2) {
    background-color: transparent;
    border: 1px solid #eee;
    color: #eee;
}

.list .list-item .content .buttons button:nth-child(2):hover {
    background-color: #eee;
    color: #000;
    transition: 0.5s;
}

